@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1>Merhaba Dünya....</h1>
    <br />
    <br />

    @{ 
        string ad;
        string soyad;
        string adsoyad;

        ad = "Ümit";
        soyad = "KARAÇİVİ";

        adsoyad = ad + " " + soyad;

        <b>@adsoyad</b>



    }*@

    <h1>Ana sayfa</h1>

    @Html.ActionLink("Gizlilik","Privacy","Home")





</div>
