@{
    //if (IsPost)
    //{
    //    string mesaj = "";
        
    //    mesaj = "Post işlemi oldu...";        // ACTIONS FOR THE POSTED FORM
    //}
}


<form method="post">

@*    <input id="Button1" type="button" value="Lütfen basınız...." />
    <br />
    <br />
    <b>@mesaj</b>*@


</form>
