
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Master_Layout</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @* menü div *@
    <div>
        @* Syncfusion *@

        @* Link Text, Action, Controller *@
        @Html.ActionLink("Ana Sayfa","Index","Home") |
        @Html.ActionLink("Hakkımızda","About","Home") |
        @Html.ActionLink("İletişim","Contact","Home")
        <br />
        <br />
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
